@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --color-text-secondary--rgb: 255, 255, 255;
  --color-text-secondary: #FFFFFF;
  --color-text-primary--rgb: 38, 39, 41;
  --color-text-primary: #262729;
  --color-bg-primary--rgb: 246, 246, 246;
  --color-bg-primary: #F6F6F6;
  --color-button--rgb: 251, 39, 64;
  --color-button: #FB2740;
  --color-button-active--rgb: 207, 28, 49;
  --color-button-active: #CF1C31;
}

html {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  height: unset !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
body._lock, body._lock__pop {
  overflow: hidden;
}

._container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  ._container {
    max-width: 1140px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  ._container {
    max-width: 90%;
  }
}
@media (max-width: 899px) {
  ._container {
    max-width: 90%;
  }
}

._btn {
  border: 0;
  border-radius: 3.125rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 600;
  padding: 0.9375rem 2.5rem;
  color: var(--color-text-secondary);
}
._btn:not(.btn-head) {
  position: relative;
  background-color: var(--color-button);
}
._btn:not(.btn-head)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-text-secondary--rgb), 0.42);
  opacity: 0.2;
  -webkit-filter: blur(13px);
          filter: blur(13px);
  border-radius: 50px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  padding: 0.4375rem 0.5625rem;
}
._btn:not(.btn-head):hover {
  background-color: var(--color-button-active);
}
._btn:not(.btn-head):hover:before {
  opacity: 0;
}