@import './colors.scss';
@import './settings';
@import './viewport';
@import './wrap';
@import './font-size.scss';

*{
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    text-size-adjust: 100%;
    @include viewport-phone {
      outline: none;
    }
}

body,
input,
textarea,
button,
select {
  font-family: $font-family;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    height: unset !important;

    font-weight: 400;
    font-size: px-to-rem(16);
    line-height: 160%;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);

    &._lock, &._lock__pop{
        overflow: hidden;
    }
}

@mixin text-heading-styles {
    margin: 0;
    font-family: $font-family;
    font-weight: normal;
    line-height: 130%;
}

@mixin text-heading-1 {
    @include text-heading-styles;
    font-weight: 700;

    @include viewport-desktop {
        font-size: px-to-rem(48);
    }
    @include viewport-tablet {
        font-size: px-to-rem(41);
    }
    @include viewport-phone {
        font-size: px-to-rem(34);
        line-height: 120%;
    }
}

@mixin text-heading-2 {
    @include text-heading-styles;
    font-weight: 700;

    @include viewport-desktop {
        font-size: px-to-rem(32);
    }
    @include viewport-tablet {
        font-size: px-to-rem(30);
    }
    @include viewport-phone {
        font-size: px-to-rem(28);
    }
}

@mixin text-heading-3 {
    @include text-heading-styles;
    font-weight: 700;

    @include viewport-desktop {
        font-size: px-to-rem(24);
    }
    @include viewport-tablet {
        font-size: px-to-rem(22);
    }
    @include viewport-phone {
        font-size: px-to-rem(20);
    }
}

@mixin text-heading-4 {
    @include text-heading-styles;
    font-weight: 600;

    @include viewport-desktop {
        font-size: px-to-rem(16);
    }
    @include viewport-tablet {
        font-size: px-to-rem(16);
    }
    @include viewport-phone {
        font-size: px-to-rem(16);
    }
}

@mixin text-heading-5 {
    @include text-heading-styles;
    font-weight: 600;

    @include viewport-desktop {
        font-size: px-to-rem(14);
    }
    @include viewport-tablet {
        font-size: px-to-rem(14);
    }
    @include viewport-phone {
        font-size: px-to-rem(14);
    }
}

@mixin text-heading-6 {
    @include text-heading-styles;
    font-weight: 600;

    @include viewport-desktop {
        font-size: px-to-rem(12);
    }
    @include viewport-tablet {
        font-size: px-to-rem(12);
    }
    @include viewport-phone {
        font-size: px-to-rem(12);
    }
}

@mixin button { 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: px-to-rem(50);
    font-size: px-to-rem(14);
    line-height: px-to-rem(17);
    font-weight: 600;
    padding: px-to-rem(15) px-to-rem(40);
    color: var(--color-text-secondary);

}

@mixin button-normal {
    position: relative;
    z-index: 0;
    max-width: px-to-rem(180);
    width: 100%;
    transition: background 0.3s ease;
    background-color: var(--color-button);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: rgba(var(--color-text-secondary--rgb), 0.42);
        opacity: 0.2;
        filter: blur(13px);
        border-radius: px-to-rem(50);
        transition: opacity 0.3s ease;
        padding: px-to-rem(7) px-to-rem(9);
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: var(--color-button-active);
        border-radius: px-to-rem(50);

        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: 50% 0;
    }

    &:hover,
    &:focus-visible {

        &::before {
            opacity: 0;
        }
        &::after {
            transform: scaleX(1);
            //background-color: var(--color-button-active);
        }
    }          
}

@mixin form-input {
    width: 100%;
    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--color-text-secondary);
    background-color: transparent;
    padding: unset;
    padding-top: 3px;
    padding-bottom: 6px;

    transition: border 0.3s ease;

    font-weight: 500;
    font-size: px-to-rem(14);
    color: var(--color-text-secondary);

    &::placeholder {
        font-weight: 500;
        font-size: px-to-rem(14);
        color: var(--color-text-secondary);
    }

    @at-root label.incorrect input {
        border-color: var(--color-button);
    }
}

._container {
    width: 100%;
    margin: 0 auto;

    @include viewport-desktop {
        max-width: 1140px;
    }
    @include viewport-tablet {
        max-width: 90%;
    }
    @include viewport-phone {
        max-width: 90%;
    }
}

.custom-logo-link {
    display: block;
    max-width: px-to-rem(105);
    width: 100%;
    cursor: pointer;

    // @media screen and (max-width: 720px) {
    //     max-width: 144px;
    // }

    img{
        width: 100%;
        height: auto;
    }
}

.custom-form-select {
    position: relative;

    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--color-text-secondary);

    transform: unset !important;

    font-family: $font-family;
    font-size: px-to-rem(14);
    font-weight: 500;
    color: var(--color-text-secondary);

    select {
        display: none;
    }

    .select-items div,
    .select-selected {
        position: relative;
        padding: px-to-rem(8) px-to-rem(5);
        cursor: pointer;
    }

    .select-selected {
        //border-bottom: 1px solid var(--color-text-secondary);
        background-color: var(--color-text-primary);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: px-to-rem(10);
            height: px-to-rem(10);

            background-image: url(../assets/img/label-arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            transform: translate(0, -50%);
            transition: transform 0.3s ease;

            @at-root .select-selected.select-arrow-active::before {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
    }

    .select-items { 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 3;
        //border-radius: px-to-rem(20);
        background-color: var(--color-text-primary);
        overflow: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.select-hide {
            opacity: 0;
            visibility: hidden;
        }

        div {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: border 0.3s ease;

            &.same-as-selected {
                border-color: var(--color-text-secondary);
                //background-color: var(--color-button);
            }
        }
    }

    .select-pointer {
        position: absolute;
        top: 0;
        left: 0;
        display: var(--mobile);
        width: 100%;
        height: px-to-rem(42);
        background-color: var(--color-button);
        will-change: transform;

        @include viewport-tablet-max {
            display: none;
        }
    }

    //.select-items div:hover,
    .same-as-selected {
        border-color: var(--color-text-secondary);
        //background-color: var(--color-button);
    }
}

._margin-top {
    @include viewport-desktop {
        margin-top: px-to-rem(100);
    }

    @include viewport-tablet {
        margin-top: px-to-rem(80);
    }

    @include viewport-phone {
        margin-top: px-to-rem(60);
    }
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 var(--wrap-lines);

    overflow: hidden;

    @at-root .banner & {
        min-height: px-to-rem(560);
    }

    @at-root .blog .blog__bg & {
        z-index: 1;
    }

    @at-root .banner-inner & {
        z-index: 1;
    }

    @at-root .labeled & {
        z-index: 3;
    }

    @at-root .recording__container & {
        width: calc(100% + 2 * var(--wrap));
        margin-left: calc(-1 * var(--wrap));
    }

    @at-root .consultation__container & {
        width: calc(100% + 2 * var(--wrap));
        margin-left: calc(-1 * var(--wrap));
    }

    //.lines-line 
    &-line {
        position: relative;
        width: 1px;
        height: 100%;
        background-color: rgba(var(--color-text-secondary--rgb), 0.06);

        //.lines-line__item 
        &__item {
            position: absolute;
            top: 0;
            left: 50%;

            width: 3px;
            height: px-to-rem(20);
            border-radius: px-to-rem(10);
            background-color: var(--color-button);

           // transform: translate(-50%, 0);
            opacity: 0;
            transition: opacity 1s ease;
        }
    }
}

.hover-table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    background-color: var(--color-button);

    will-change: transform;
    overflow: hidden;

    //.hover-table__content 
    &__content {
        display: flex;
        color: var(--color-text-secondary);

        @include viewport-desktop {
            padding: px-to-rem(15) px-to-rem(40) px-to-rem(12);
        }

        @include viewport-tablet-max {
            padding: px-to-rem(15) px-to-rem(25) px-to-rem(12);
        }

        > * + * {
            margin-left: px-to-rem(15);
            
            @include viewport-phone {
                margin-left: px-to-rem(20);
            }
        }
    }
}